body{
    background-color: rgb(130, 195, 238);
}

div{
    margin-top: 200px;
    margin-left: 200px;
    font-size: 120px;
    color: white;
    display: inline-block;
    font-family:cursive;
}

#temp{
    font-size: 120px;
    color: white;
}